<body>
  <app-nav></app-nav>
  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>
</body>

<div class="container">
  <hr />
  <footer>
    <div class="row text-center">
      <div class="col-md-4">
        © 2019 - Developed by Regis
      </div>
      <div class="col-md-4">
        <a href="https://github.com/regisbr13/webapi-console-client" target="_blank" class="btn btn-link">Código do Projeto</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-link" href="https://www.regislimaprojects.site/">Mais projetos</a>
      </div>
    </div>
  </footer>
</div>
